.main-div {
    margin: auto auto;
    margin-top: 100px;
    width: 450px;
    height: 320px;
}

a {
    text-decoration: none;
    color: inherit;
}

.img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 10px;
    transition-duration: 0.2s;
}

.img:hover {
    box-shadow: 10px 10px 10px 0 rgba(128, 128, 128, 0.2);
}

.info {
    text-align: center;
    margin: auto -5%;
    margin-top: 20px;
    font-family: Times;

    font-size: 20px;
    font-weight: bold;
    width: 110%;
    transition-duration: 0.2s;
    border-radius: 3px;

    height: 50px;
    line-height: 50px;
    color: dimgray;
}

.info:hover {
    color: cornflowerblue;
    box-shadow: 6px 6px 6px 0 rgba(128, 128, 128, 0.2);
    border: 1px dotted rgba(128, 128, 128, 0.2);
    content: "go home";
}